@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
.slide {
	background: url('home_orange_plastic.jpg');
}

.slide {
  font-family: 'Oswald', sans-serif;
}

.slide blockquote p {
  margin: 40px;
}
